services:
  - type: web
    name: telegram-bot
    env: python
    plan: free
    pythonVersion: "3.11.0"
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
